<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="QUOTE - Request a quote for every type of companies">
<meta name="author" content="Ansonika">
<title>2023 대한민국 우표전시회 AI 프롬프트 학습 페이지</title>

<link rel="shortcut icon" href="new/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" type="image/x-icon" href="new/favicon.ico">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
	href="new/favicon.ico">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
	href="new/favicon.ico">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
	href="new/favicon.ico">

<link
	href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
	rel="stylesheet">

<link href="layerslider/css/layerslider.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/icon_fonts/css/all_icons_min.css" rel="stylesheet">
<link href="css/magnific-popup.min.css" rel="stylesheet">
<link href="css/skins/square/yellow.css" rel="stylesheet">

<link href="css/custom.css" rel="stylesheet">

</head>

<body>

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div>

	<header>
		<div id="logo_home">
			<h1>
				<a href="/index" title="Quote">AI프롬프트 학습 페이지</a>
			</h1>
		</div>

		<a id="menu-button-mobile"
			class="cmn-toggle-switch cmn-toggle-switch__htx"
			href="javascript:void(0);"><span>Menu mobile</span></a>
		<nav class="main_nav">
			<ul class="nav nav-tabs">
				<li><a href="#tab_1" data-bs-toggle="tab">AI프롬프트 학습하기</a></li>
				<li><a href="#tab_2" data-bs-toggle="tab">프롬프트란?</a></li>
				<li><a href="#tab_3" data-bs-toggle="tab">고객센터</a></li>
			</ul>
		</nav>
	</header>

	<div id="layerslider" class="fullsize"
		style="width: 1200px; height: 100vh;">

		<div class="ls-slide"
			data-ls="duration: 8000; transition2d: 5;bgsize:cover;bgposition:50% 50%;kenburnszoom:in;">
			<img src="new/bg_p.jpg" class="ls-bg" alt="Slide background">
			<p
				style="font-size: 72px; 
				color: #fff; 
				top: 40%; 
				left: 0px; 
				line-height: 1; 
				padding-left: 50px; 
				letter-spacing: -1px;"
				class="ls-l sliderleft"
				data-ls="offsetxin:-100;durationin:2000;delayin:800;offsetxout:-100;durationout:1000;">
				<strong>우표그림을 이용하여</strong>
			</p>
			<p
				style="font-size: 42px; 
				color: #fff; 
				top: 52%; 
				left: 0px; 
				line-height: 1; 
				padding-left: 55px; 
				letter-spacing: -1px;"
				class="ls-l sliderleft"
				data-ls="offsetxin:-100;durationin:2000;delayin:1500;offsetxout:-100;durationout:1000;">AI 프롬프트에 대하여 재미있게 학습하기</p>
			<div 
				style="color: #fff; 
				top: 55%; 
				left: 0px; 
				line-height: 1; 
				padding-left: 25px; 
				letter-spacing: -1px;"
				class="ls-l sliderleft main-sub-text"
				data-ls="offsetxin:-100;durationin:2500;delayin:1500;offsetxout:-100;durationout:1000;"
			>
				<ul>
					<li># AI</li>
					<li># 프롬프트</li>
					<li># COMPUTER SCIENCE</li>
					<li># 컴퓨터와 소통하기</li>
					<li># 프롬프트 학습</li>
				</ul>
			</div>	
		</div>

	</div>


	<div class="layer"></div>

	<div id="main_container">

		<div id="header_in">
			<a href="#0" class="close_in "><i class="pe-7s-close-circle"></i></a>
		</div>

		<div class="wrapper_in">
			<div class="container-fluid">
				<div class="tab-content">
					<div class="tab-pane fade" id="tab_1">
						<div class="subheader" id="quote"></div>
						<div class="row">
							<aside class="col-xl-3 col-lg-4">
								<h2 class="request-main">질문을 따라가며 배우는 재미난 AI PROMPT 학습!</h2>
								<p class="lead"># 컴퓨터를 슬기롭게 이용하는 방법</p>
								<ul class="list_ok">
									<li>프롬프트란? [프롬프트는 누군가의 특정한 작업 수행을 도우려 전달하는 메시지라는 뜻]</li>
									<li>컴퓨터 분야에서 프롬프트는 [원하는 결과물을 얻기 위한 CLI(Command Line Interface)와 같은 명령어라는 뜻]</li>
									<li>우표를 통해서 재미있게 컴퓨터에게 지시하기 위한 방법을 학습해 보자!</li>
								</ul>
							</aside>

							<div class="col-xl-9 col-lg-8">
								<div id="wizard_container">
									<div id="top-wizard">
										<strong>진행도</strong>
										<div id="progressbar"></div>
									</div>

									<form name="example-1" id="wrapped" method="POST">
										<input id="website" name="website" type="text" value="">
										<div id="middle-wizard">
											<div class="step">
												<h3 class="main_question">
													<strong>1/8</strong>다음 중 학습에 이용할 이미지를 하나 선택 해 주세요.
												</h3>
												<div class="row">
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>1. 용맹한 곰(Bear)와 함께하기
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Bear" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>2. 거대한 공룡(Dinosaur)와 함께하기 
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Dinosaur" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>3. 멋진 늑대(Wolf)와 함께하기 
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Wolf" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>4. 귀여운 물개(Seal)와 함께하기 
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Seal" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>5. 사랑스러운 강아지(Jindo Dog)와 함께하기 
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Dog" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>6. 날렵한 독수리(Eagle)와 함께 하기 
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Eagle" class="icheck required">
														</label>
													</div>
												</div>
											</div>
											
											<div class="step">
												<h3 class="main_question">
													<strong>2/8</strong>1번에서 선택한 이미지를 얻기 위해서 컴퓨터는 어떤 원본을 이용했을까요?<br>
													<div class="the-icons col-md-4 col-sm-4">
														<i class="icon-question"></i> 
														<span class="i-name">무슨 동물이 있었는지 생각 해 봅시다.</span>
													</div>
												</h3>

												<div class="row">
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>1. 용맹한 곰(Bear)와 함께하기
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Bear" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>2. 거대한 공룡(Dinosaur)와 함께하기 
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Dinosaur" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>3. 멋진 늑대(Wolf)와 함께하기 
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Wolf" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>4. 귀여운 물개(Seal)와 함께하기 
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Seal" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>5. 사랑스러운 강아지(Jindo Dog)와 함께하기 
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Dog" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-4 col-lg-4">
														<label>6. 날렵한 독수리(Eagle)와 함께 하기 
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Eagle" class="icheck required">
														</label>
													</div>
												</div>
											</div>

											<div class="step">
												<h3 class="main_question">
													<strong>3/8</strong>선택한 동물과 어울리는 단어를 선택해 주세요.<br>
													<div class="the-icons col-md-4 col-sm-4">
														<i class="icon-question"></i> 
														<span class="i-name">선택한 동물이 어떤 동작을 하고 있었는지 생각 해 봅시다.</span>
													</div>
												</h3>
												
												<div class="row add_bottom_30">

													<div class="col-sm-6">
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Custom interface and layout"
																class="icheck required">날다(Flying)
															</label>
														</div>
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Web site design"
																class="icheck required">달리다(Running)
															</label>
														</div>
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Seo optimization"
																class="icheck required">앉다(Sitting)
															</label>
														</div>
													</div>

													<div class="col-sm-6">
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="CMS integrations (Wordpress)"
																class="icheck required">서다(Standed)
															</label>
														</div>
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Domain registration"
																class="icheck required">기다(Crawling)
															</label>
														</div>
													</div>
												</div>
												<div class="form-group textarea_info">
													<label>기타 의견을 남겨 주세요.</label>
													<textarea name="addtional_info" class="form-control"
														style="height: 150px;"
														placeholder="다른 동작은 무엇이 있을까요?"></textarea>
												</div>
											</div>

											<div class="step">
												<h3 class="main_question">
													<strong>4/8</strong>선택한 동물과 어울리는 단어를 선택해 주세요.<br>
													<div class="the-icons col-md-4 col-sm-4">
														<i class="icon-question"></i> 
														<span class="i-name">선택한 동물이 어디에 있었는지 생각 해 봅시다.</span>
													</div>
												</h3>

												<div class="row add_bottom_30">

													<div class="col-sm-6">
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Custom interface and layout"
																class="icheck required">날다(Flying)
															</label>
														</div>
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Web site design"
																class="icheck required">달리다(Running)
															</label>
														</div>
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Seo optimization"
																class="icheck required">앉다(Sitting)
															</label>
														</div>
													</div>

													<div class="col-sm-6">
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="CMS integrations (Wordpress)"
																class="icheck required">서다(Standed)
															</label>
														</div>
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Domain registration"
																class="icheck required">기다(Crawling)
															</label>
														</div>
													</div>
												</div>
												<div class="form-group textarea_info">
													<label>기타 의견을 남겨 주세요.</label>
													<textarea name="addtional_info" class="form-control"
														style="height: 150px;"
														placeholder="다른 동작은 무엇이 있을까요?"></textarea>
												</div>
											</div>
											
											<div class="step">
												<h3 class="main_question">
													<strong>5/8</strong>선택한 동물과 어울리는 단어를 선택해 주세요.<br>
													<div class="the-icons col-md-4 col-sm-4">
														<i class="icon-question"></i> 
														<span class="i-name">선택한 동물이 어떤 환경에 있었는지 생각 해 봅시다.</span>
													</div>
												</h3>

												<div class="row add_bottom_30">

													<div class="col-sm-6">
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Custom interface and layout"
																class="icheck required">날다(Flying)
															</label>
														</div>
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Web site design"
																class="icheck required">달리다(Running)
															</label>
														</div>
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Seo optimization"
																class="icheck required">앉다(Sitting)
															</label>
														</div>
													</div>

													<div class="col-sm-6">
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="CMS integrations (Wordpress)"
																class="icheck required">서다(Standed)
															</label>
														</div>
														<div class="form-group checkbox_questions">
															<label> <input name="question_2[]"
																type="checkbox" value="Domain registration"
																class="icheck required">기다(Crawling)
															</label>
														</div>
													</div>
												</div>
												<div class="form-group textarea_info">
													<label>기타 의견을 남겨 주세요.</label>
													<textarea name="addtional_info" class="form-control"
														style="height: 150px;"
														placeholder="다른 동작은 무엇이 있을까요?"></textarea>
												</div>
											</div>
											

											<div class="step">
												<h3 class="main_question">
													<strong>6/8</strong>1번에서 선택한 그림은 어떤 느낌이었을까요?<br>
													<div class="the-icons col-md-4 col-sm-4">
														<i class="icon-question"></i> 
														<span class="i-name">비슷한 느낌의 이미지를 선택해 주세요.</span>
													</div>
												</h3>

												<div class="row">
													<div class="form-group radio_questions col-xl-6 col-lg-6">
														<label>1. 용맹한 곰(Bear)와 함께하기
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Bear" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-6 col-lg-6">
														<label>1. 용맹한 곰(Bear)와 함께하기
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Bear" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-6 col-lg-6">
														<label>1. 용맹한 곰(Bear)와 함께하기
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Bear" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-6 col-lg-6">
														<label>1. 용맹한 곰(Bear)와 함께하기
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Bear" class="icheck required">
														</label>
													</div>
												</div>
											</div>

											<div class="step" data-state="end">
												<h3 class="main_question">
													<strong>7/8</strong>결과 페이지<br>
													<div class="the-icons col-md-4 col-sm-4">
														<i class="icon-question"></i> 
														<span class="i-name">잘못된 부분에 대한 안내</span>
													</div>
												</h3>
												<div class="row">
													<div class="col-sm-6">
														<div class="form-group">
															<input type="text" name="#"
																class="form-control" placeholder="1번 질문에 대한 답변">
														</div>
														<div class="form-group">
															<input type="text" name="#"
																class="form-control" placeholder="2번 질문에 대한 답변">
														</div>
														<div class="form-group">
															<input type="text" name="#"
																class="form-control" placeholder="3번 질문에 대한 답변">
														</div>
													</div>

													<div class="col-sm-6">
														<div class="form-group">
															<input type="text" name="text"
																class="form-control" placeholder="4번 질문에 대한 답변">
														</div>
														<div class="form-group">
															<input type="text" name="#"
																class="form-control" placeholder="5번 질문에 대한 답변">
														</div>
														<div class="form-group">
															<input type="text" name="#"
																class="form-control" placeholder="6번 질문에 대한 답변">
														</div>
													</div>
												</div>
											</div>	
											<div class="submit step" id="end">

												<h3 class="main_question">
													<strong>8/8</strong>설명 페이지<br>
													<div class="the-icons col-md-4 col-sm-4">
														<i class="icon-question"></i> 
														<span class="i-name">동일한 프롬프트로 나올 수 있는 다른 이미지들</span>
													</div>
												</h3>
												<div class="row">
													<div class="form-group radio_questions col-xl-6 col-lg-6">
														<label>1. 용맹한 곰(Bear)와 함께하기
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Bear" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-6 col-lg-6">
														<label>1. 용맹한 곰(Bear)와 함께하기
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Bear" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-6 col-lg-6">
														<label>1. 용맹한 곰(Bear)와 함께하기
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Bear" class="icheck required">
														</label>
													</div>
													<div class="form-group radio_questions col-xl-6 col-lg-6">
														<label>1. 용맹한 곰(Bear)와 함께하기
														<br>
														<img class="img-fluid stamp-image" src="new/bg_p.jpg"><input
															name="question_1" type="radio"
															value="Bear" class="icheck required">
														</label>
													</div>
												</div>
												<div class="form-group checkbox_questions">
													<input name="terms" type="checkbox" class="icheck required"
														value="yes"> <label>Please accept <a
														href="#" data-bs-toggle="modal"
														data-bs-target="#terms-txt">terms and conditions</a> ?
													</label>
												</div>

											</div>

										</div>
										<div id="bottom-wizard">
											<button type="button" name="backward" class="backward">Backward
											</button>
											<button type="button" name="forward" class="forward">Forward</button>
											<button type="submit" name="process" class="submit">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="tab_2">
						<div class="subheader" id="about"></div>
						<div class="row">
							<div class="col-lg-8">
								<h2>대한민국 우표전시회에 오신것을 환영합니다.</h2>
								<p class="lead">프롬프트 교육에 대한 안내 메시지.</p>

								<div class="row">
									<div class="col-md-6">
										<div class="box_feat" id="icon_1">
											<span></span>
											<h3>프롬프트에 대한 타이틀 01</h3>
											<p>프롬프트에 대한 간단한 설명 01</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="box_feat" id="icon_2">
											<span></span>
											<h3>프롬프트에 대한 타이틀 02</h3>
											<p>프롬프트에 대한 간단한 설명 02</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="box_feat" id="icon_3">
											<h3>프롬프트에 대한 타이틀 03</h3>
											<p>프롬프트에 대한 간단한 설명 03</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="box_feat" id="icon_4">
											<h3>프롬프트에 대한 타이틀 04</h3>
											<p>프롬프트에 대한 간단한 설명 04</p>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-6">
										<div class="about_info">
											<i class="pe-7s-news-paper"></i>
											<h4>
												Mission<span>다음과 같은 것도 한번 생각해 볼까요?</span>
											</h4>
											<p>학습 마무리 멘트 01.</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="about_info">
											<i class="pe-7s-light"></i>
											<h4>
												Mission<span>다음과 같은 것도 한번 생각해 볼까요?</span>
											</h4>
											<p>학습 마무리 멘트 02.</p>
										</div>
									</div>
								</div>
							</div>

							<aside class="col-lg-4">
								<div class="more_padding_left">
									<div class="widget" id="gallery">
										<h4>우표 이미지 갤러리</h4>
										<ul class="magnific-gallery">
											<li><a href="img/gallery/large_1.jpg"
												title="image title">
													<figure>
														<img src="img/gallery/thumb_1.jpg" alt="thumb">
													</figure>
											</a></li>
											<li><a href="img/gallery//large_2.jpg"
												title="image title">
													<figure>
														<img src="img/gallery/thumb_2.jpg" alt="thumb">
													</figure>
											</a></li>
											<li><a href="img/gallery/large_3.jpg"
												title="image title">
													<figure>
														<img src="img/gallery/thumb_3.jpg" alt="thumb">
													</figure>
											</a></li>
											<li><a href="img/gallery/large_4.jpg"
												title="image title">
													<figure>
														<img src="img/gallery/thumb_2.jpg" alt="thumb">
													</figure>
											</a></li>
											<li><a href="img/gallery/large_5.jpg"
												title="image title">
													<figure>
														<img src="img/gallery/thumb_3.jpg" alt="thumb">
													</figure>
											</a></li>
										</ul>
									</div>
									<div class="widget" id="follow">
										<h4>다음 사이트도 방문해 보세요.</h4>
										<ul>
											<li><a href="#"><i class="icon-youtube-1"></i>진흥원유튜브</a></li>
											<li><a href="#"><i class="icon-instagram"></i>공식인스타그램</a></li>
											<li><a href="#"><i class="icon-facebook"></i>공식페이스북</a></li>
											<li><a href="#"><i class="icon-glass"></i>전시회홈페이지</a></li>
											<li><a href="#"><i class="icon-home-circled"></i>진흥원홈페이지</a></li>
										</ul>
									</div>
								</div>
							</aside>
						</div>
					</div>

					<div class="tab-pane fade" id="tab_3">


						<div id="contact_info">
							<div class="row">
								<div class="col-md-4">
									<div class="box_contact">
										<i class="pe-7s-map-marker"></i>
										<h4>Address</h4>
										<p>주소</p>
										<a
											href="#"
											class="btn_1" target="_blank">네이버 지도</a>
										<a
											href="#"
											class="btn_1" target="_blank">다음 지도</a>	
									</div>
								</div>
								<div class="col-md-4">
									<div class="box_contact">
										<i class="pe-7s-mail-open-file"></i>
										<h4>Email and Website</h4>
										<p>이메일/웹사이트</p>
										<p>
											<strong>Email:</strong> <a href="#0">#</a><br>
											<strong>Website:</strong> <a href="#0">#</a>
										</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="box_contact">
										<i class="pe-7s-call"></i>
										<h4>Telephone</h4>
										<p>고객센터 연락처</p>
										<p>
											<strong>Tel:</strong> <a href="#0">123-1234-1234</a><br>
											<strong>Fax:</strong> <a href="#0">123-1234-1234</a>
										</p>
									</div>
								</div>
							</div>
							<hr>
							<div id="social">
								<ul>
									<li><a href="#"><i class="icon-youtube-1"></i></a></li>
											<li><a href="#"><i class="icon-instagram"></i></a></li>
											<li><a href="#"><i class="icon-facebook"></i></a></li>
											<li><a href="#"><i class="icon-glass"></i></a></li>
											<li><a href="#"><i class="icon-home-circled"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="additional_links">
		<ul>
			<li>대한민국 우편사업진흥원</li>
			<li><a href="https://www.stampex.kr" class="animated_link">전시회 홈페이지</a></li>
			<li><a href="#" class="animated_link">페이스북</a></li>
			<li><a href="#" class="animated_link">인스타그램</a></li>
			<li><a href="#" class="animated_link">진흥원 유튜브</a></li>
			<li><a href="#" class="animated_link">진흥원 홈페이지</a></li>
		</ul>
	</div>

	<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog"
		aria-labelledby="termsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">개인정보 취급방침</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>
2023 대한민국 우표전시회 홈페이지는 이벤트 운영에 필요한 최소한의 개인정보만을 취득하며, 수집된 개인정보는 당첨자 확인, 경품 배송 등 이벤트 운영을 위한 용도로만 사용됩니다. 이와 같은 개인정보 수집·이용 목적에 대해 동의하실 경우에만 참여 부탁드립니다. 이벤트 당첨자가 제공하는 개인정보(성명, 연락처)는 개인정보보호법에 따라 수집·이용 시 정보주체 본인의 동의를 얻어야 하는 정보이며, 보유 및 이용기간 동안 안전하게 보호됩니다.
					</p>
					<p>
1. 개인정보 수집 및 이용목적 - 이벤트 당첨자 확인 및 경품 발송
2. 개인정보 수집 항목 - 필수항목: 성명, 연락처, 주소, 인스타그램 계정
3. 개인정보 보유 및 이용기간 - 수집한 개인정보는 경품 수령 관련 분쟁이 있을 경우를 대비해 이벤트 종료(2023. 9. 28.) 후 2주까지 보관 후 모두 파기합니다. 또한 이벤트 발송 문자에는 만족도 설문조사가 함께 발송될 예정입니다.
					</p>
					<p>
4. 수집된 전화번호로 우표전시회 만족도 조사 참여문자가 전송됩니다.
5. 개인정보 수집 도으이 거부의 권리 - 귀하는 개인정보 수집·이용에 동의하지 않을 권리가 있습니다. 다만, 귀하가 필수 기재사항을 입력하지 않으실 경우 이벤트 응모가 불가능함을 양지하시기 바랍니다.
6. 개인정보를 정확하게 적지 않았을 경우 이벤트 당첨 및 발송이 취소될 수 있으며, 연락처 1개당 1번의 참여가 가능합니다.
7. 이벤트 성격에 맞지 않는 내용이나 과도한 도배성 댓글은 임의 삭제할 수 있습니다.
</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script src="js/jquery-3.7.0.min.js"></script>
	<script src="layerslider/js/greensock.js"></script>
	<script src="layerslider/js/layerslider.transitions.js"></script>
	<script src="layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
	<script src="js/slider_func.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions_with_branch.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script src="js/mapmarker.jquery.js"></script>
	<script src="js/mapmarker_func.jquery.js"></script>

</body>

</html>